<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户修改密码</title>
    <script th:src="@{https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/font-awesome.min.css}">
    <head th:include="include :: header"></head>
</head>
<body>
<div class="layui-col-md6 layui-col-md-offset1 layui-anim layui-anim-up layui-text" >
    <fieldset class="layui-elem-field layui-field-title"><legend>安全设置</legend></fieldset>
    <form class="layui-form">
        <input type="hidden" th:value="${user.id}" id="userId" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block" >
                <input class="layui-input"  type="password" lay-verify="oldPassWord" name="oldPassWord" id="oldPassWord"   lay-verType="tips"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input class="layui-input" maxlength="20" type="password"  name="newPassWord"  id="newPassWord" placeholder="请输入用户密码" lay-verify="required"  lay-verType="tips"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">再输一次</label>
            <div class="layui-input-block">
                <input class="layui-input" maxlength="20" type="password" lay-verify="aganNewPassWord"  placeholder="请再输入一次密码"   lay-verType="tips"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit" lay-filter="updatePassWord" lay-submit="">提交</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include :: footer"></div>
<script  type="text/javascript" th:inline="none">

    layui.use(['form', 'layer','jquery','table'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        //让第一个文本框 获得焦点
        $("#oldPassWord").focus();
        form.on("submit(updatePassWord)", function (data) {
            $.ajax({
                type: "POST",
                url: "/user/updatePassWord",
                data: data.field,
                dataType: "json",
                success: function (result) {
                    if (result.code == 0) {
                        pAlert(result.msg);
                    } else {
                        pEoor(result.msg);
                    }
                    return true;
                }
            });
            return false;
        });


        form.verify({
            oldPassWord: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '密码不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '密码首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '您的密码不太安全哦!';
                }
            }

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            ,aganNewPassWord:function(value,item){
                var newPassWord = $("#newPassWord").val();
                if(value!=newPassWord){
                    return '两次密码输入不一样!';
                }
            }
        });
    });
</script>
</body>
</html>