<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" th:href="@{/layui/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/utils/index.css}" media="all">

</head>
<div th:fragment="footer">
    <!--layui-->
    <script th:src="@{/layui/plugins/layer/layer.js}"></script>
    <script th:src="@{/layui/plugins/layui/layui.js}"></script>
    <script th:src="@{/utils/common.js}"></script>
</div>
